<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title th:replace="::title"></title>
 <link rel="icon" href="/css/favicon.ico" type="image/x-icon" />
<link rel="stylesheet" type="text/css"	href="/css/bootstrap-datetimepicker.min.css" />
<link rel="stylesheet" type="text/css" href=""  	th:href="@{~/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href=""  	th:href="@{~/css/bootstrap-theme.css}" />
<script type="text/javascript"  src="/js/jquery.min.js"></script>
<script type="text/javascript"  src="/js/bootstrap.min.js"></script>
<script type="text/javascript" 	 src="/js/common.js"></script>
<script type="text/javascript" 	src="/js/dmuploader.min.js"></script>
<script type="text/javascript" 	src="/js/jqBootstrapValidation.js"></script>
<script type="text/javascript"  	src="/js/bootstrap-datetimepicker.min.js"></script>
</head>

<body class="container-fluid">
	<nav class="navbar navbar-default"  >
		<div class="container-fluid">
			<div  th:include="nav"></div>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" th:text="${T(org.apache.shiro.SecurityUtils).getSubject().getPrincipal()}">当前用户</a>
					<ul class="dropdown-menu">
						<li><a href="/loginout">退出</a> </li>
					</ul>
				</li>
			</ul>
		</div>

	</nav>

	<div layout:fragment="content">this is tempalte layout content</div>

	<footer layout:fragment="footer">
		<p class="text-center">copy right reserve</p>
	</footer>
</body>

</html>
