<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>登录</title>
<link rel="stylesheet" type="text/css" href=""
	th:href="@{~/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href=""
	th:href="@{~/css/bootstrap-theme.css}" />
<script type="text/javascript" th:src="@{~/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{~/js/bootstrap.min.js}"></script>
</head>
<body class="container">
	<div class="text-center  page-header">
	<p th:text="${error}" th:if="${!#strings.isEmpty(error)}" class="alert alert-warning" >
	</p>
		<form action="/login" method="post">
			<div class="form-group">
				<label>账号</label> <input class="form-controll" type="text" name="username"
					placeholder="请输入账号">
			</div>
			<div class="form-group">
				<label>密码</label> <input class="form-controll" type="password" name="password"
					placeholder="请输入密码">
			</div>
			<div class="from-group">
			<input type="checkbox" value="1" name="remeber" />记住
			</div>
			<div><button class="btn btn-primary" type="submit">提交</button></div>
		</form>
	</div>

</body>
</html>